extends layout

block content
  h1= title
  - let mountainsid = toShow._id
  - let name = toShow.name
  - let location = toShow.location
  - let altitude = toShow.altitude

  div(style='margin: 20px; padding: 20px; border: 1px solid #ddd;')
    div.row(style='margin-bottom: 10px;')
      div(class='mountainsAttr mr-3' style='font-weight: bold;') Mountains ID is:
      div #{mountainsid}

    div.row(style='margin-bottom: 10px;')
      div(class='mountainsAttr mr-3' style='font-weight: bold;') Mountains Type is:
      div #{name}

    div.row(style='margin-bottom: 10px;')
      div(class='mountainsAttr mr-3' style='font-weight: bold;') Mountains Size is:
      div #{location}

    div.row(style='margin-bottom: 10px;')
      div(class='mountainsAttr mr-3' style='font-weight: bold;') Mountains Cost is:
      div #{altitude}
