extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let mountainid = toShow._id
    - let name = toShow.name
    - let location = toShow.location
    - let altitude = toShow.altitude
    - let actionid = "/resource/mountains/" + mountainid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='mountainAttr mr-3') Mountain ID is:
        div #{mountainid}
      div.row
        div(class='mountainAttr mr-3') Mountain Name is:
        div #{name}
      div.row
        div(class='mountainAttr mr-3') Mountain Location is:
        div #{location}
      div.row
        div(class='mountainAttr mr-3') Mountain Altitude is:
        div #{altitude}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
      script.
        function cancel() {
          // Go back to the home page for the costume collection
          window.location.href='/resource/mountains'
        }
      script.
        function deleteOnid() {
          console.log("starting delete")
          // delete first
          fetch(actionid, {
            method: 'DELETE' // Don't need a body for the delete
          }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
          }).then((body) => {
            alert("Delete succeeded")
            window.location.href='/resource/mountains'
          }).catch((error) => {
            // TODO handle error
            alert("Delete failed " + error )
          });
        }
            // TODO
